.card-container{
    width:50%;
    text-align:center
}

.card-naziv{
    font-weight: bold;
    font-size: 22px;
}

.card-list{
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    width:100%;
}

.card-naziv:hover{
    color: red;
    cursor: pointer;
}

.card-container:hover{
    cursor: pointer;
}