.flex-conatiner{
    display: flex;
    height: 20%;
}
.flex-conatiner div{
    margin: 10px;
    margin-left: 20px;
    flex: 1;
}
#div-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2;
}
#div-flex div{
    font-weight: bold;
    justify-content: space-around;
}

#div-flex div:hover{
    cursor: pointer;
}

#div-flex div:hover{
    color: red;
}

#logovanje{
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-weight: bold;
    align-content: center;
    align-items: center;
}

#logovanje div{
    background-color: white;
    color: red;
}

#logovanje div:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}
#logo{
   margin-left: 10px;
   margin-top: 10px;
    height: 90%;
    width: 40%;
}

#Naslov1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
