.komentari{
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 50px;
}


#tekst-komentara{
    width: 60%;
    border-radius: 10px;
}

#novi-komentar{
    display: none;
    width: 60%;
}
