#forma-css{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    align-items: center;
    top:50%;
    left: 30%;
    opacity: 1;
    align-items: stretch;
    margin-bottom: 3px;
}

#loginbtn{
    font-size:20px;
    height: 40px;
    width:170px;
    border-radius: 8px;
    background-color: #F7F3F5;
    border-color: white;
    color:black;
}

#loginbtn:hover{
    background-color:#e85f5a;
    cursor: pointer;
}

#divforma{
    align-content: center;
    align-items: center;
    justify-content: center;
}

.input-login{
    height: 100%;
    width: 61%;
}
#pozadina{
    margin-left: 25%;
    z-index: -1;
    position: relative;
    opacity: 0.3;
}

.loginlabel{
    font-weight:bold;
    align-self: flex-start;
}
