.test >div{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
table {
    width: 50%;
  }
th{
   text-align:left;
}

hr{
    border: none; /* Uklanja postojeću liniju */
    border-bottom: 1px solid #ef4d48; /* Postavlja novu liniju debljine 1px i crne boje */
    width: 145%; 
}
#zaglavlje >th{
    font-size:20px;
}

.oTestu > p {
    width:50%;
}
.btn{
    font-size:20px;
    height: 40px;
    width:170px;
    border-radius: 8px;
    background-color: #F7F3F5;
    border-color: white;
    color:black;

}
.btn:hover{
    background-color:#e85f5a;
    color:#F7F3F5;
}
#napomena{
    align-self: flex-start;
    margin-left: 25%;
    font-style: italic;
}
.rezNaslov{
    width: 100%;
    height:80px;
    align-self: center;
    text-align: center;
    padding-top: 3px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    background-color: #F7F3F5;
    margin-bottom: 50px;
}
#predlozi:hover{
    color:red;
    cursor: pointer;
    transform: scale(1.05);
    
}